
*{padding: 0;
    margin: auto;
    background-image:url('2.jpg');
    background-position: top;
    font-weight: bold;
    
}


h1{margin-top: 50px;
    margin-bottom: 40px;
    color: rgb(80, 5, 58);
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center; 
}
p{
    font-size: 500;
    text-align: calc();
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(9, 1, 31);
    text-align: center;
    

}
